.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(180deg, #3a3d40 0%, #232224 100%);
  text-size-adjust: auto;
  color: var(--main-white);
}

.welcome-section p,
i {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
  text-align: center;
}

.welcome-section i {
  display: block;
  padding-top: 3rem;
}

.welcome-section i:hover {
  color: var(--main-blue);
  cursor: pointer;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60vh;
  color: var(--main-white);
  background-image: linear-gradient(180deg, #232224 0%, #3a3d40 100%);
}
.info-section ul {
  text-align: center;
}
.info-section li {
  font-size: 2.5rem;
  font-weight: 180;
  list-style: none;
  color: var(--main-red);
  font-style: italic;
}
