.foot {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.foot-list {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--main-white);
  list-style: none;
}

.foot-list i {
  color: var(--main-white);
  padding: 1rem;
}

.foot-list i:hover {
  color: var(--main-blue);
}
